#section1 {
    background-color: purple;
    width:150px;
    height:150px;
}

h1 {
color:yellow
}
.section2 {
    background-color:blue;
    width:150px;
    height:150px;

}

h2 {
    color:orange
}

.contact {
    color:red
}
#email {
    background-color:orange
}